<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>

Enter the following details:

<form th:method="PATCH" th:action="@{/admin/users/user-update/{id}(id =${(user.getId())})}" th:object="${user}">
    <label for="firstname">firstname:</label>
    <input type="text" th:field="*{firstname}" id="firstname"/>
    <br/>
    <label for="lastname">lastname:&nbsp</label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br/>
    <label for="age">age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="username">username:</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label>
        <select size="3" multiple="multiple" name="roles" id="roles">
            <option disabled>Roles:</option>
            <option value="1">ADMIN</option>
            <option selected value="2">USER</option>
        </select>
    </label>
    <input type="submit" value="Update"/>
</form>

</body>
</html>